<html>
    <head></head>
    <body>
        <form action="/insert-student" method="post">
            <table>
                <tbody>
                    <tr>
                        <td>Enter Id : <input type="text" name="sid" id="sid"></td><br>
                        <td>Enter sname : <input type="text" name="sname" id="sname"></td><br>
                        <td>Enter marks : <input type="text" name="marks" id="marks"></td><br>
                        <td><button type="submit" name="btn" id="btn" value="btn">Add Student</button></td>
                    </tr>
                </tbody>
            </table>
        </form>
    </body>
</html>